@using TreinRittenApplicatie_VanHeckeBert.Domain.Entities
@model IEnumerable<StationViewModel>
@using Microsoft.AspNetCore.Identity
@using TreinRittenApplicatie_VanHeckeBert.Areas.Identity.Data
@using TreinRittenApplicatie_VanHeckeBert.ViewModels
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Stations";
}
<div class="container">
    <table class="table table-hover table-responsive mt-3">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">City</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.City</td>
                </tr>
            }
        </tbody>
    </table>
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        <a asp-controller="Station" asp-action="Create" class="btn btn-primary text-white" title="Create">Create a new station</a>
    }
</div>
