@{
    ViewData["Title"] = "Home Page";
}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Ride the Future with Speedetro</h1>
                    <p class="lead text-white-50 mb-4">Your Premier Railway Company, Experience the Comfort, Convenience, and Speed of Modern Rail Travel.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3 text-white" asp-controller="Ticket" asp-action="Index">Browse tickets</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Features section-->
<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <i class="bi bi-collection bi-big"></i>
                <h2 class="h4 fw-bolder">Top-Quality Railway Transportation Experience.</h2>
                <p>Are you tired of dealing with the hassle of driving or dealing with airports? Let us provide you with an exceptional railway transportation experience! Our railway company offers top-quality service that you can count on.</p>

            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <i class="bi bi-building bi-big"></i>
                <h2 class="h4 fw-bolder">Advanced Technology for Efficient and Safe Journeys.</h2>
                <p>We pride ourselves on providing the latest and most advanced technology for our trains and tracks, ensuring that your journey is efficient, safe, and comfortable. Our high-tech locomotives and rolling stock are well-maintained and regularly updated to deliver the best performance. We use sophisticated scheduling and routing software to ensure that our trains run smoothly and on time, minimizing any potential delays or inconvenience to our passengers.</p>

            </div>
            <div class="col-lg-4">
                <i class="bi bi-toggles2 bi-big"></i>
                <h2 class="h4 fw-bolder">Sustainability and Exceptional Customer Service</h2>
                <p>We're committed to protecting the environment and reducing carbon emissions by implementing sustainable practices in our operations. We use renewable energy sources, reduce waste, and recycle whenever possible. Our company is dedicated to providing exceptional customer service from start to finish. We offer comfortable seating, onboard Wi-Fi, and delicious food and beverage options to make your trip enjoyable. Our flexible booking and cancellation policies and responsive customer support make travel planning a breeze.</p>

            </div>
        </div>
    </div>
</section>
