@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container mt-3">
    <h1>@ViewData["Title"]</h1>
    <p>At <strong>Speedetro</strong>, we take your privacy seriously and are committed to protecting your personal information. This privacy statement outlines how we collect, use, and safeguard your personal data.</p>

    <h2>Collection of Information</h2>
    <p>When you use our website to book a railway ticket, we collect personal information such as your <em>name</em>, <em>email address</em>, <em>phone number</em>, and <em>payment details</em>. We may also collect information about your <em>location</em> and <em>device information</em>.</p>

    <h2>Use of Information</h2>
    <p>We use the information we collect to process your railway ticket booking, provide customer support, and communicate with you about your booking. We may also use your information to improve our services and website, and to send you promotional offers and updates about our services.</p>

    <h2>Disclosure of Information</h2>
    <p>We may share your personal information with third-party service providers who help us process your booking and provide customer support. We may also share your information with government agencies or law enforcement officials if required by law.</p>

    <h2>Protection of Information</h2>
    <p>We use industry-standard security measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction. We also regularly review and update our security practices to ensure that your information is protected.</p>

    <h2>Cookies</h2>
    <p>We may use cookies and similar technologies to collect information about your browsing behavior on our website. You can choose to disable cookies in your browser settings, but this may affect your user experience on our website.</p>

    <h2>Third-Party Links</h2>
    <p>Our website may contain links to third-party websites. We are not responsible for the privacy practices or content of these websites. We encourage you to read the privacy statements of these websites before providing any personal information.</p>

    <h2>Consent</h2>
    <p>By using our website, you consent to the collection, use, and disclosure of your personal information as outlined in this privacy statement.</p>

    <h2>Changes to Privacy Statement</h2>
    <p>We may update this privacy statement from time to time to reflect changes in our privacy practices. We encourage you to review this statement periodically to stay informed about how we are protecting your personal information.</p>

</div>
