@using TreinRittenApplicatie_VanHeckeBert.ViewModels
@model TrainViewModel
@{
    ViewData["Title"] = "Edit train";
}

<div class="container">
    <form method="post" asp-action="Edit" class="my-3">
        <div class="form-group">
            <label asp-for="Name">What is the name of the train?</label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group mt-2">
            <label asp-for="Capacity">What is the capacity of the train?</label>
            <input asp-for="Capacity" type="number" class="form-control" placeholder="100">
            <span asp-validation-for="Capacity" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Edit train</button>
    </form>
</div>